<nav class="nav-bar">
  <div class="nav-content">
    <div class="nav-title">
      <div class="dashboard-logo"></div>
        <h3>MK Inventory Ledger</h3>
      </div>

      <div class="nav-title">
        <div class="user-logo"></div>
      <h4>Sawako</h4>
    </div>
  </div>
</nav>