<nav class="side-bar">
  <div class="side-bar-content">
    <div><LinkTo @route="dashboard">Dashboard</LinkTo></div>
    <div><LinkTo @route="products">Products</LinkTo></div> 
    <div><LinkTo @route="stocks">Stocks</LinkTo></div>
    <div><LinkTo @route="sales">Sales</LinkTo></div>
    <div><LinkTo @route="account">Account</LinkTo></div>
    <div><LinkTo @route="about">About</LinkTo></div>
  </div>
</nav>