<div class="login-page">
  <div class="card">
    <div class="heading-text">
      <div class="logo"></div>
    </div>
    <div class="form-part">
      <form>
          <div class="form-control">
              <input type="text" required>
              <label>
                  <span style="transition-delay:0ms">U</span>
                  <span style="transition-delay:50ms">s</span>
                  <span style="transition-delay:100ms">e</span>
                  <span style="transition-delay:150ms">r</span>
                  <span style="transition-delay:200ms">n</span>
                  <span style="transition-delay:250ms">a</span>
                  <span style="transition-delay:300ms">m</span>
                  <span style="transition-delay:350ms">e</span>
              </label>
          </div>

          <div class="form-control">
            <input type="password" required>
            <label>
                <span style="transition-delay:0ms">P</span>
                <span style="transition-delay:50ms">a</span>
                <span style="transition-delay:100ms">s</span>
                <span style="transition-delay:150ms">s</span>
                <span style="transition-delay:200ms">w</span>
                <span style="transition-delay:250ms">o</span>
                <span style="transition-delay:300ms">r</span>
                <span style="transition-delay:350ms">d</span>
            </label>
        </div>
        <LinkTo @route="dashboard" type="submit" class="login-button">Login</LinkTo>
      </form>
    </div>
  </div>
</div>